In [28]:
import pandas as pd

# Theme are the rocky planets!

df = pd.DataFrame({
    'a': ['L', 'I', 'A', 'J', 'L', 'H', 'N', 'S', 'B', 'D'],
    'b': ['M', 'Q', 'S', 'N', 'W', 'I', 'W', 'B', 'P', 'X'],
    'c': ['A', 'P', 'E', 'T', 'C', 'H', 'H', 'M', 'P', 'D'],
    'd': ['R', 'Z', 'A', 'F', 'E', 'H', 'U', 'Y', 'L', 'M'],
    'e': ['S', 'Y', 'R', 'U', 'G', 'C', 'F', 'T', 'U', 'V'],
    'f': ['V', 'C', 'T', 'C', 'C', 'T', 'M', 'G', 'T', 'E'],
    'g': ['T', 'B', 'H', 'J', 'P', 'W', 'D', 'I', 'O', 'N'],
    'h': ['Q', 'U', 'Y', 'E', 'I', 'N', 'W', 'D', 'G', 'U'],
    'i': ['V', 'Q', 'H', 'A', 'W', 'W', 'N', 'Q', 'I', 'S'],
    'j': ['N', 'V', 'R', 'B', 'J', 'U', 'G', 'S', 'M', 'O']
}, index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

df

    a  b  c  d  e  f  g  h  i  j
1   L  M  A  R  S  V  T  Q  V  N
2   I  Q  P  Z  Y  C  B  U  Q  V
3   A  S  E  A  R  T  H  Y  H  R
4   J  N  T  F  U  C  J  E  A  B
5   L  W  C  E  G  C  P  I  W  J
6   H  I  H  H  C  T  W  N  W  U
7   N  W  H  U  F  M  D  W  N  G
8   S  B  M  Y  T  G  I  D  Q  S
9   B  P  P  L  U  T  O  G  I  M
10  D  X  D  M  V  E  N  U  S  O

In [26]:
word1 = df.iloc[9, 4:9]
word2 = df.iloc[2, 2:7]
word3 = df.iloc[0, 1:5]
word4 = df.iloc[8, 2:7]

print(word1)
print(word2)
print(word3)
print(word4)

e    V
f    E
g    N
h    U
i    S
Name: 10, dtype: object
c    E
d    A
e    R
f    T
g    H
Name: 3, dtype: object
b    M
c    A
d    R
e    S
Name: 1, dtype: object
c    P
d    L
e    U
f    T
g    O
Name: 9, dtype: object